<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="robots" content="noindex">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <title>Million on Mars Land Rush ROI Calculator</title>
  <link rel="shortcut icon" href="favicon.ico">

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="js-yaml.min.js"></script>
  <script src="trading-vue.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

</head>
<body>

  <div id="app">
    <v-app>
      <v-main>
    
    <div style="float: left">
        <v-menu offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn dark v-bind="attrs" v-on="on">
              <v-icon>mdi-menu</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item v-for="(item, index) in menuitems" :key="index" @click="menuClick(index)">
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </div>
    
     <p class="text-center">
    This tool shows price fluctuation of various <a href="https://www.milliononmars.com/">Million on Mars</a> resources. Data is limited to last 7 days, sampled every 15 mins, so short spikes or dips may be missed.
</p>

<center>
    <v-card width="700px">

    
</center>
    
    <v-container>
      <v-row :class="{red:market_time_warning}" class="text-right" dense>
        <v-col class="text-right" cols="24" sm="12">
          Market data {{ market_timetext }}
        </v-col>
      </v-row>
    </v-container>
         
         
    <center><v-card width="880px" class="justify-center">
        <v-expansion-panels popout :readonly="lock_chart" v-model="show_chart">
              <v-expansion-panel>
                <v-expansion-panel-header>Chart</v-expansion-panel-header>
                <v-expansion-panel-content>
                  <trading :data="chart_data" :title-txt="chart_title"></trading>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
    </v-card>
    <v-card width="750px" class="justify-center">
    <v-data-table :headers="headers" :items="dtable" :search="search" :items-per-page="-1" class="elevation-1" :custom-sort="tableSort" dark>
        <template v-slot:top>
          <v-text-field v-model="search" label="Search" class="mx-4" ></v-text-field>
        </template>
        <template v-slot:item.name="{ item }">
            <v-btn icon color="#5ee"><v-icon @click="showChart(item.id)">mdi-chart-line</v-icon></v-btn>
            <a @click="showChart(item.id)"><span style="text-decoration: none; color: #fff;">{{ item.name }}</span></a>
        </template>
        <template v-slot:item.hours="{ item }">
            <div v-if="item.hours.high == item.hours.low">
                {{ item.hours.high }}
            </div>
            <div v-else>
                <v-icon small color="green darken-2">mdi-arrow-up</v-icon>{{ item.hours.high }}<br/>
                <v-icon small color="red darken-2">mdi-arrow-down</v-icon>{{ item.hours.low }}
            </div>
        </template>
        <template v-slot:item.day="{ item }">
            <div v-if="item.day.high == item.day.low">
                {{ item.day.high }}
            </div>
            <div v-else>
                <v-icon small color="green darken-2">mdi-arrow-up</v-icon>{{ item.day.high }}<br/>
                <v-icon small color="red darken-2">mdi-arrow-down</v-icon>{{ item.day.low }}
            </div>
        </template>
        <template v-slot:item.week="{ item }">
            <div v-if="item.week.high == item.week.low">
                {{ item.week.high }}
            </div>
            <div v-else>
                <v-icon small color="green darken-2">mdi-arrow-up</v-icon>{{ item.week.high }}<br/>
                <v-icon small color="red darken-2">mdi-arrow-down</v-icon>{{ item.week.low }}
            </div>
        </template>
    </v-data-table>
    </v-card></center>

<p></p>

  <p><img src="images/AbacusMonkey.png" width="64" style="float: left; margin-left: 1em; margin-right: 1em"> Created by digipedro. Images are Copyright Million on Mars Inc.<br/>Donations of WAX can be sent to <b>iamdigipedro</b><br/>Donations of BANANO can be sent to
	<a href="https://creeper.banano.cc/explorer/account/ban_3d6pzryts53tzk1u87yobfcrcwuiq11hhpj7oo8mapnodpkroc7dkqq8z8hc/history">
	ban_3d6pzryts53tzk1u87yobfcrcwuiq11hhpj7oo8mapnodpkroc7dkqq8z8hc
	</a>

      </v-main>
    </v-app>
  </div>



  <script>
      
      function localnum(num) {
          if (isNaN(num) || num === null)
              return "---";
          return num.toLocaleString(undefined, { minimumFractionDigits: 3, maximumFractionDigits: 3 });
      }
      
      const capitalize = (s) => {
        return s.charAt(0).toUpperCase() + s.slice(1)
      }
      
      const research_re = /research_([a-z]+)_([najem])/;
      const tools_re = /([a-z]+)_tools_([najem])/;
            
	  var vv = new Vue({
	    el: '#app',
		mounted:function() {
            this.loadYAML();
            this.loadSummary();
            this.loadMarket();
    
            setInterval(function() { this.updateTimer() }.bind(this), 30 * 1000 );
            
            let queries = window.location.search.replace(/^\?/, '').split('&'), split;
			for( let i = 0; i < queries.length; i++ ) {
				split = queries[i].split('=');
				if (split[0] === 'chart')
                    this.chart_to_load = split[1]
            }
		},
	    vuetify: new Vuetify({
            theme: { dark: true },
        }),
	    data: {
            summary: {},
            dtable: [],
            odata: {},
            market: {},
            search: '',
            sources_loaded: 0,
            sources_to_load: 3,
            market_timestamp: 0,
            market_timetext: 'Loading...',
            market_time_warning: false,
            headers: [
              { text: 'Name', value: 'name'},
              { text: 'Past 3 hrs', value: 'hours', },
              { text: 'Past 24 hrs', value: 'day',},
              { text: 'Past 7 Days', value: 'week',},
              { text: 'Daily Volume', value: 'volume'},
            ],
            menuitems: [
              { title: 'ROI Calculator', href: 'index.html'},
              { title: 'Price History', href: 'summary.html'},
              { title: 'Tools', href: 'tools.html'},
            ],
            chart_title: 'Loading...',
            chart_data: {
              ohlcv: []
            },
            show_chart: 0,
            lock_chart: false,
            chart_to_load: 'full_pc',
	    },
        components: {
          trading: TradingVueJs.TradingVue
        },
        filters: {
        },
        computed: {
        },
	    methods: {
            updateTimer() {
                if (this.market_timestamp == 0)
                    return;
                let tdiff = ((new Date()).getTime() - this.market_timestamp) / 1000;
                if (tdiff < 60)
                    this.market_timetext = "updated < 1 min ago";
                else if (tdiff < 3600)
                    this.market_timetext = "updated " + Math.round(tdiff / 60) + " mins ago";
                else if (tdiff < 5400)
                    this.market_timetext = "updated 1 hour ago";
                else
                    this.market_timetext = "updated " + Math.round(tdiff / 3600) + " hours ago"
                this.market_time_warning = (tdiff > 5400);
            },
            showChart(id) {
                this.loadChart(id);
                this.show_chart = 0;
                this.lock_chart = false;
            },
            menuClick(index){
               window.location.href = this.menuitems[index].href;
            },
            capitalize(str) {
                const arr = str.split(" ");
                for (let i = 0; i < arr.length; i++) {
                    arr[i] = arr[i].charAt(0).toUpperCase() + arr[i].slice(1);
                }
                return arr.join(" ");
            },
            resourceName(id) {
                if (this.odata.resources[id])
                    return this.odata.resources[id].display_name
                
                let match = research_re.exec(id);
                if (match != null) {
                    let name = ' ' + capitalize(match[1]) + ' Research';
                    if (match[2] == 'n')
                        name = 'Novice' + name;
                    else if (match[2] == 'a')
                        name = ((id.slice(-2) == 'ar') ? 'Artisan' : 'Apprentice') + name;
                    else if (match[2] == 'j')
                        name = 'Journeyman' + name;
                    else if (match[2] == 'e')
                        name = 'Expert' + name;
                    else if (match[2] == 'm')
                        name = 'Master' + name;
                    return name;
                }
            
                match = tools_re.exec(id);
                if (match != null) {
                    let name = ' ' + capitalize(match[1]) + ' Tools';
                    if (match[2] == 'n')
                        name = 'Novice' + name;
                    else if (match[2] == 'a')
                        name = ((id.slice(-2) == 'ar') ? 'Artisan' : 'Apprentice') + name;
                    else if (match[2] == 'j')
                        name = 'Journeyman' + name;
                    else if (match[2] == 'e')
                        name = 'Expert' + name;
                    else if (match[2] == 'm')
                        name = 'Master' + name;
                    return name;
                }

                return capitalize(id.replaceAll('_', ' '));
            },
            buildTable() {
                this.loadChart(this.chart_to_load);
                
                this.dtable = [];
                for (const [main_key, main_value] of  Object.entries(this.summary)) {
                    let item = {
                        id: main_key,
                        name: this.resourceName(main_key),
                        hours: {high: main_value.shortHigh, low: main_value.shortLow},
                        day: {high: main_value.dayHigh, low: main_value.dayLow},
                        week: {high: main_value.weekHigh, low: main_value.weekLow},
                        volume: this.market[main_key].lastDayVolume,
                    }
                    this.dtable.push(item);
                }
            },
            tableSort(items, index, isDesc) {
                if (index[0] === "hours" || index[0] === "day" || index[0] === "week" ) {
                    items.sort((a, b) => {
                        // calculate spread
                        let a_diff = Math.abs(a[index].high - a[index].low);
                        let b_diff = Math.abs(b[index].high - b[index].low);
                        if (isDesc[0]) {
                            return a_diff < b_diff ? -1 : 1;
                        } else {
                            return a_diff < b_diff ? 1 : -1;
                        }
                    });
                } else {
                    items.sort((a, b) => {
                        if (isDesc[0]) {
                            return a[index] < b[index] ? -1 : 1;
                        } else {
                            return a[index] < b[index] ? 1 : -1;
                        }
                    });
                }

                return items;
            },
            async loadYAML() {
                await fetch('resources.yaml', {
                    mode: 'cors',
                    method: 'GET',
                    headers: {
                        'Access-Control-Allow-Origin':'*',
                        'Content-Type': 'multipart/form-data'
                    }})
                    .then(res => res.blob())
                    .then(blob => blob.text())
                    .then(yamlAsString => {
                        this.odata = jsyaml.load(yamlAsString);
                        this.sources_loaded++;
                    })
                    .catch(err => console.log('yaml error:', err))                    
                if (this.sources_loaded == this.sources_to_load) this.buildTable(true);
            },
            async loadPowerChart() {
                // exerimental chart of market power price
                let res = await fetch('https://us-west-2.aws.data.mongodb-api.com/app/mommarketreader-uqbem/endpoint/get7day?id=full_pc');
                let full = await res.json();
                res = await fetch('https://us-west-2.aws.data.mongodb-api.com/app/mommarketreader-uqbem/endpoint/get7day?id=empty_pc');
                let empty = await res.json();
               
                let data = [];
                // crawl through data making intervals for candles
                
                // Get time of last sale rounded up to neast hour, then start 7 days earlier
                let end_time = new Date(full[full.length-1].lastSoldAt);
                end_time.setMinutes(end_time.getMinutes() + 30);
                end_time.setMinutes(0, 0, 0);
                let start_time = end_time - 604800000;
                
                function getPowerPrice(x) {
                    let y = 0;
                    while (y < (empty.length - 1) && new Date(empty[y].lastSoldAt) <= full[x].lastSoldAt) {
                        y++
                    }
                    if (y > 0)
                        y--
                    return full[x].lastSoldPrice - (empty[y].lastSoldPrice * 0.95);
                }
                
                // Create candles for every 3 hours
                // 604800000 = 1 week, 3600000 = 1 hr, 1080000 = 3hr
                let x = 0;
                for (let h = start_time; h < end_time; h = h + 10800000) {
                    let next_hour = h + 10800000;
                    while (x > 0 && new Date(full[x].lastSoldAt) > h)
                        x--;
                    let price = getPowerPrice(x);
                    let ohlcv = [
                        h,                 //0 - time
                        price, //1 - open
                        price, //2 - high
                        price, //3 - low
                        price, //4 - close
                        0,                 //5 - volume
                    ]
                    while (x < (full.length - 1) && new Date(full[x].lastSoldAt) < next_hour) {
                        if (full[x].lastSoldPrice > ohlcv[2])
                            ohlcv[2] = getPowerPrice(x);
                        if (full[x].lastSoldPrice < ohlcv[3])
                            ohlcv[3] = getPowerPrice(x);
                        ohlcv[4] = getPowerPrice(x);
                        // ohlcv[5]++
                        x++
                    }
                    if (typeof ohlcv[1] !== 'undefined')
                        data.push(ohlcv)
                }
                this.chart_title = 'Power Market';
                this.chart_data.ohlcv = data;
            },
            async loadChart(id) {
                //await fetch("7day.json")
                await fetch('https://us-west-2.aws.data.mongodb-api.com/app/mommarketreader-uqbem/endpoint/get7day?id='+id)
                .then(res => res.json())
                .then(out => {
                    let data = [];
                    if (out.length < 1) {
                        this.chart_title = 'No data.'
                        return;
                    }
                        
                    // crawl through data making intervals for candles
                    
                    // Get time of last sale rounded up to neast hour, then start 7 days earlier
                    let end_time = new Date(out[out.length-1].lastSoldAt);
                    end_time.setMinutes(end_time.getMinutes() + 59);
                    end_time.setMinutes(0, 0, 0);
                    let start_time = end_time - 604800000;
                    
                    // Create candles for every 3 hours
                    // 604800000 = 1 week, 3600000 = 1 hr, 1080000 = 3hr
                    let i = 0;
                    for (let h = start_time; h < end_time; h = h + 10800000) {
                        let next_hour = h + 10800000;
                        while (i > 0 && new Date(out[i].lastSoldAt) > h)
                            i--;
                        let ohlcv = [
                            h,                 //0 - time
                            out[i].lastSoldPrice, //1 - open
                            out[i].lastSoldPrice, //2 - high
                            out[i].lastSoldPrice, //3 - low
                            out[i].lastSoldPrice, //4 - close
                            0,                 //5 - volume
                        ]
                        while (i < (out.length - 1) && new Date(out[i].lastSoldAt) < next_hour) {
                            if (out[i].lastSoldPrice > ohlcv[2])
                                ohlcv[2] = out[i].lastSoldPrice;
                            if (out[i].lastSoldPrice < ohlcv[3])
                                ohlcv[3] = out[i].lastSoldPrice;
                            ohlcv[4] = out[i].lastSoldPrice;
                            // ohlcv[5]++
                            i++
                        }
                        if (typeof ohlcv[1] !== 'undefined')
                            data.push(ohlcv)
                    }
                    this.chart_title = this.resourceName(id);
                    this.chart_data.ohlcv = data;
                 })
                .catch(err => {
                    console.log('chart error:', err);
                })
            },
            async loadSummary() {
                // await fetch("/summary.json")
                await fetch("https://us-west-2.aws.data.mongodb-api.com/app/mommarketreader-uqbem/endpoint/marketsummary")
                    .then(res => res.json())
                    .then(out => {
                        this.summary = out.data;
                        
                        for (const [main_key, main_value] of  Object.entries(this.summary)) {
                            // remove EJSON Number type fields
                            for (const [key, value] of Object.entries(main_value)) {
                                if (typeof value === 'object' && value !== null) {
                                    this.summary[main_key][key] = Number(value[Object.keys(value)[0]]);
                                }
                            }
                        }
                        this.market_timestamp = out.timestamp.$numberDouble;
                        this.updateTimer()
                        this.sources_loaded++;
                     })
                    .catch(err => {
                        console.log('summary error:', err);
                        this.market_timetext = 'failed to load.';
                        this.market_time_warning = true;
                    })
                if (this.sources_loaded == this.sources_to_load) this.buildTable(true);
            },
            async loadMarket() {
                 // await fetch("/market.json")
                 await fetch("https://us-west-2.aws.data.mongodb-api.com/app/mommarketreader-uqbem/endpoint/wholemarket2")
                    .then(res => res.json())
                    .then(out => {
                        this.market = {};
                        
                        for (let i = 0; i < out.data.length; i++) {
                            let id = out.data[i].id
                            this.market[id] = out.data[i].attributes;
                            // set 0 day average price to last price
                            if (this.market[id].averageDaySoldPrice == 0)
                                this.market[id].averageDaySoldPrice = this.market[id].lastSoldPrice;
                        }
                        this.sources_loaded++;
                     })
                    .catch(err => {
                        console.log('market error:', err);
                        this.market_timetext = 'failed to load.';
                        this.market_time_warning = true;
                    })
                if (this.sources_loaded == this.sources_to_load) this.buildTable(true);
            },

	      },
	  });
	  

  </script>
</body>
</html>